.about{
    cursor: default;
    /* max-width: 48rem; */
    text-align: center;
    font-family: "Alliance1","Alliance1HeaderFallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 800;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: -0.05em !important;
    color: #24292f;
    padding: 3em;
    height: 100%;
}

.about .alt{
    font-size: 18px;
    letter-spacing: normal;
    margin-left: 1em;
    transform: translate(6em ,-3.6em);
}