.footer {
    background-color: #e1e1e1;
    height: 4em;
    width: 100%;
    padding: 1em 2em 0em 2em;
    font-size: 12.5px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    left: 0%;
    bottom: 0%;
    position: fixed;
}

/* .footer .contact{
    margin-right: 8em;
    position: absolute;
    float: right;
    right: 1%;
    bottom: 25%;
    width: 6em;
    height: 2.4em;
    background-color: #0000002a;
    border-width: 0px;
    border-radius: 8px;
    cursor: pointer;
} */

.footer .box{
    width: 14em;
    float: right;
    padding: 12px;
    /* transform: translate(-190px, -22px); */
    transform:translate(-30px, -120px) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: slide;
    animation-duration: 0.25s;
}

@keyframes slide{
    from{
        transform: translate(-30px, -22px);
    }

    to{
        transform:translate(-30px, -120px) ;
    }
}

/* BUTON NOU */
.contact {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  right: 0%;
  transform: translate(-6em, -1.2em);
}

.contact:hover {
  background-color: rgb(249,250,251);
}

.contact:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contact:focus-visible {
  box-shadow: none;
}
